---
import { getCollection } from "astro:content";
import BaseHead from "../../components/BaseHead.astro";
import Footer from "../../components/Footer.astro";
import FormattedDate from "../../components/FormattedDate.astro";
import Header from "../../components/Header.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../../consts";

const posts = (await getCollection("blog"))
	.sort((a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf())
	.reverse();
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			p {
				padding: 0;
				margin: 0;
			}

			h4 {
				padding: 0;
				margin-top: 1rem;
				margin-bottom: 0;
			}
		</style>
	</head>
	<body>
		<Header />
		<main class="p-4">
			<section>
				<div class="flex items-center justify-between mt-2 mb-16">
					<h2 class="p-0 m-0 dark:p-0 dark:m-0">Blogs</h2>
					<span>
						<a
							href="/tags"
							class="p-2 text-lg rounded bg-zinc-300 dark:bg-zinc-800 dark:hover:bg-[#05ce91] hover:bg-rose-600 hover:text-white"
							>All Tags</a
						>
					</span>
				</div>
				<ul
					class="flex flex-wrap items-center justify-center gap-8 xl:justify-between"
				>
					{
						posts.map((post) => (
							<li>
								<a href={`/blog/${post.slug}/`}>
									<div class="w-full h-full sm:w-[400px] sm:h-[260px] object-cover overflow-hidden rounded">
										<img
											width={400}
											height={260}
											src={post.data.heroImage}
											alt="blogImage"
											loading="lazy"
											decoding="async"
											class="w-full h-full max-w-none sm:w-[400px] sm:h-[260px] object-cover hover:scale-125 transition-all rounded-none"
										/>
									</div>
									<h4 class="title">{post.data.title}</h4>
									<p class="text-base sm:text-lg date text-zinc-600 dark:text-zinc-400">
										<FormattedDate date={post.data.pubDate} />
									</p>
								</a>
							</li>
						))
					}
				</ul>
			</section>
		</main>
		<Footer />
	</body>
</html>
