---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import "./Projects.scss";

const projects = (await getCollection("projects"))
	.sort((a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf())
	.reverse();

const projectCount = projects.length;

const topProjects = projects.filter((project, index) => index <= 7);
---

<section
	class="w-full md:w-[97%] mt-16 sm:mt-24 border-t border-zinc-300 dark:border-zinc-700"
>
	<p class="mb-8">My Works</p>
	<div class="flex flex-col gap-16 mb-16 md:mb-24 md:gap-32">
		{
			topProjects.map((project, index) =>
				index % 2 === 0 ? (
					<div class="flex flex-wrap md:grid md:grid-cols-[400px_1fr] gap-[2em]">
						<a
							href={`/projects/${project.slug}`}
							title={`${project.slug}`}
							class="before:invisible relative"
							rel="prefetch-intent"
						>
							<div class="w-full sm:w-[400px] sm:h-[400px] justify-self-start float-right overflow-hidden">
								<Image
									src={project.data.image}
									width={400}
									height={400}
									alt="project-image"
									class="object-cover w-full h-full sm:w-[400px] sm:h-[400px] rounded-none hover:scale-125 transition-all"
								/>
							</div>
						</a>
						<article class="self-start xl:w-[70%] flex flex-col justify-between h-full">
							<div class="flex flex-col gap-4 justify-evenly">
								<h2 class="flex gap-4 p-0 m-0">
									<a
										href={`/projects/${project.slug}`}
										title={`${project.slug}`}
										rel="prefetch-intent"
										class="p-0 m-0 before:bg-rose-600 dark:before:bg-[#05ce91]"
									>
										{project.data.title}
									</a>
									<p class="self-start text-lg text-zinc-500 dark:text-zinc-500">
										/0{index + 1}
									</p>
								</h2>
								<p class="p-0 m-0">{project.data.description}</p>
								<ul class="flex flex-wrap gap-4 mt-4">
									{project.data.tools.map((tool: string) => (
										<li class="bg-zinc-200 dark:bg-zinc-900 py-[2px] px-3 rounded-md text-lg">
											{tool}
										</li>
									))}
								</ul>
							</div>
							<div class="flex gap-8 mt-6 md:mt-0">
								<a
									href={project.data.github}
									target="_blank"
									class="dark:before:bg-white"
								>
									Github &#8599;{" "}
								</a>
								<a
									href={`/projects/${project.slug}`}
									title={`${project.slug}`}
									rel="prefetch-intent"
									class="underline decoration-rose-600 dark:before:bg-white dark:decoration-[#05ce91] underline-offset-[10px]"
								>
									More Details
									<span class="hidden">
										on {project.slug.toLowerCase().split("-").join(" ")}
									</span>
								</a>
							</div>
						</article>
					</div>
				) : (
					<div class="flex flex-wrap md:grid md:grid-cols-[1fr_400px] gap-[2em]">
						<article class="flex-col items-end justify-between hidden h-full md:flex">
							<div class="flex flex-col xl:w-[70%] justify-evenly items-end text-right gap-4">
								<h2 class="flex gap-4 p-0 m-0">
									<p class="self-start text-lg text-zinc-500 dark:text-zinc-500">
										/0{index + 1}
									</p>
									<a
										href={`/projects/${project.slug}`}
										title={`${project.slug}`}
										rel="prefetch-intent"
										class="before:bg-rose-600 dark:before:bg-[#05ce91]"
									>
										{project.data.title}
									</a>
								</h2>
								<p class="p-0 m-0">{project.data.description}</p>
								<ul class="flex flex-wrap gap-4 mt-4">
									{project.data.tools.map((tool: string) => (
										<li class="bg-zinc-200 dark:bg-zinc-900 py-[2px] px-3 rounded-md text-lg">
											{tool}
										</li>
									))}
								</ul>
							</div>
							<div class="flex gap-8">
								<a
									href={project.data.github}
									target="_blank"
									class="dark:before:bg-white"
								>
									Github &#8599;{" "}
								</a>
								<a
									href={`/projects/${project.slug}`}
									rel="prefetch-intent"
									title={`${project.slug}`}
									class="underline decoration-rose-600 dark:before:bg-white dark:decoration-[#05ce91] underline-offset-[10px]"
								>
									More Details
									<span class="hidden">
										on {project.slug.toLowerCase().split("-").join(" ")}
									</span>
								</a>
							</div>
						</article>
						<a
							href={`/projects/${project.slug}`}
							class="relative before:invisible"
						>
							<div class="w-full sm:w-[400px] sm:h-[400px]  justify-self-start float-left overflow-hidden">
								<Image
									src={project.data.image}
									width={400}
									height={400}
									alt="project-image"
									class="object-cover w-full h-full sm:w-[400px] sm:h-[400px] rounded-none hover:scale-125 transition-all"
								/>
							</div>
						</a>
						<article class="flex flex-col items-start justify-between h-full md:hidden">
							<div class="flex flex-col xl:w-[70%] justify-evenly items-start text-left gap-4">
								<h2 class="flex flex-row xl:w-[70%] justify-evenly items-end text-right gap-4">
									<a
										href={`/projects/${project.slug}`}
										rel="prefetch-intent"
										class="before:bg-rose-600"
										title={`${project.slug}`}
									>
										{project.data.title}
									</a>
									<p class="self-start text-lg text-zinc-300 dark:text-zinc-500">
										/0{index + 1}
									</p>
								</h2>
								<p class="p-0 m-0">{project.data.description}</p>
								<ul class="flex flex-wrap gap-4 mt-4">
									{project.data.tools.map((tool: string) => (
										<li class="bg-zinc-200 dark:bg-zinc-900 py-[2px] px-3 rounded-md text-lg">
											{tool}
										</li>
									))}
								</ul>
							</div>
							<div class="flex gap-8 mt-6 md:mt-0">
								<a
									href={project.data.github}
									target="_blank"
									class="dark:before:bg-white"
								>
									Github &#8599;{" "}
								</a>
								<a
									href={`/projects/${project.slug}`}
									rel="prefetch-intent"
									class="underline decoration-rose-600 underline-offset-[10px]"
									title={`${project.slug}`}
								>
									More Details
									<span class="hidden">
										on {project.slug.toLowerCase().split("-").join(" ")}
									</span>
								</a>
							</div>
						</article>
					</div>
				)
			)
		}
	</div>
	<p class="p-0 m-0 mb-4 font-semibold text-right">
		<a
			href="/projects"
			rel="prefetch-intent"
			class="text-lg underline text-inherit hover:text-rose-600 dark:hover:text-[#05ce91] underline-offset-2"
		>
			All Works ({projectCount})
		</a>
	</p>
</section>
