---
import { getCollection } from "astro:content";
import "./Projects.scss";

const projects = await getCollection("projects");
---

<section class="w-full md:w-[97%] mt-24 border-t border-zinc-300">
	<p class="mb-8">My Work</p>
	<div class="flex flex-col gap-32">
		{
			projects.map((project, index) =>
				index % 2 === 0 ? (
					<div class="mygrid-01">
						<a href="/project" class="before:hidden">
							<div class="w-[400px] h-[400px] bg-rose-600 justify-self-start float-right" />
						</a>
						<article class="self-start xl:w-[70%] flex flex-col justify-between h-full">
							<div class="flex flex-col justify-evenly gap-4">
								<h2 class="">{project.data.title}</h2>
								<p>{project.data.description}</p>
								<ul class="flex gap-4 mt-4">
									{project.data.tools.map((tool: string) => (
										<li class="bg-zinc-200 dark:bg-zinc-900 py-[2px] px-3 rounded-md text-lg">
											{tool}
										</li>
									))}
								</ul>
							</div>
							<div class="flex gap-8">
								<a href="/">Github &#8599; </a>
								<a
									href="/"
									class="underline decoration-rose-600 underline-offset-[10px]"
								>
									Read More
								</a>
							</div>
						</article>
					</div>
				) : (
					<div class="mygrid-02">
						<article class="justify-between items-end h-full flex flex-col">
							<div class="flex flex-col xl:w-[70%] justify-evenly items-end text-right gap-4">
								<h2 class="ml-auto">{project.data.title}</h2>
								<p>{project.data.description}</p>
								<ul class="flex gap-4 mt-4">
									{project.data.tools.map((tool: string) => (
										<li class="bg-zinc-200 dark:bg-zinc-900 py-[2px] px-3 rounded-md text-lg">
											{tool}
										</li>
									))}
								</ul>
							</div>
							<div class="flex gap-8">
								<a href="/">Github &#8599; </a>
								<a
									href="/"
									class="underline decoration-rose-600 underline-offset-[10px]"
								>
									Read More
								</a>
							</div>
						</article>

						<div class="w-[400px] h-[400px] bg-teal-600 justify-self-start" />
					</div>
				)
			)
		}
	</div>
</section>
