---
import BaseHead from "../../components/BaseHead.astro";
import Footer from "../../components/Footer.astro";
import Header from "../../components/Header.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../../consts";

export async function getStaticPaths() {
	const mdPosts = await Astro.glob("../../content/blog/*.md");
	const mdxPosts = await Astro.glob("../../content/blog/*.mdx");

	const allPosts = [...mdPosts, ...mdxPosts];
	const uniqueTags = [
		...new Set(allPosts.map((post) => post.frontmatter.tags).flat()),
	];

	return uniqueTags.map((tag) => {
		const filteredPosts = allPosts.filter((post) =>
			post.frontmatter.tags.includes(tag)
		);
		return {
			params: { tag },
			props: { posts: filteredPosts },
		};
	});
}

const { tag } = Astro.params;
const { posts } = Astro.props;

const filteredPosts = posts.filter((post: any) =>
	post.frontmatter.tags?.includes(tag)
);
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			h2,
			h4 {
				margin: 0;
				padding: 0;
			}
			p {
				margin: 0;
				padding: 0;
			}
		</style>
	</head>
	<body>
		<Header />
		<main class="min-h-screen p-4 max-w-screen-2xl">
			<div
				class="flex flex-col justify-between p-0 m-0 mt-2 md:flex-row md:items-center"
			>
				<h2 class="p-0 m-0 dark:m-0">
					Blogs related to <span class="text-rose-600 dark:text-[#05ce91]"
						>{tag}</span
					>
				</h2>
				<a
					href="/tags"
					class="text-lg w-fit md:m-0 mt-4 dark:bg-zinc-800 dark:hover:bg-[#05ce91] bg-zinc-100 px-2 py-1 hover:bg-rose-600 hover:text-white rounded"
					>All Tags</a
				>
			</div>
			<ul
				class="flex flex-wrap border-t pt-[16px] items-start justify-center gap-8 xl:justify-start"
			>
				{
					filteredPosts.map((post: any) => (
						<li class="mb-4">
							<a
								href={`/blog/${post.frontmatter.title
									.toLowerCase()
									.split(" ")
									.join("-")}`}
							>
								<div class="w-full h-full sm:w-[400px] sm:h-[260px] object-cover overflow-hidden rounded">
									<img
										width={400}
										height={260}
										src={
											post.frontmatter.heroImage
												? post.frontmatter.heroImage
												: "/default.jpg"
										}
										alt="blogImage"
										loading="lazy"
										decoding="async"
										class="w-full h-full max-w-none sm:w-[400px] sm:h-[260px] object-cover hover:scale-125 transition-all rounded-none"
									/>
								</div>

								<div class="flex flex-col sm:flex-row justify-between items-center mt-6 md:max-w-[400px]">
									<h4 class="text-center sm:text-left sm:max-w-[300px]">
										{post.frontmatter.title}
									</h4>
									<p class="text-sm sm:text-base date min-w-[100px] text-center sm:text-right text-zinc-600 dark:text-zinc-400">
										{new Date(post.frontmatter.pubDate)
											.toDateString()
											.slice(4, 15)}
									</p>
								</div>
								<div class="my-2">
									<p class="text-base sm:text-left text-center max-w-[400px] sm:text-lg date text-zinc-600 dark:text-zinc-400">
										{post.frontmatter.description}
									</p>
								</div>
							</a>
						</li>
					))
				}
			</ul>
		</main>
		<Footer />
	</body>
</html>
