---
import BaseHead from "../../components/BaseHead.astro";
import Footer from "../../components/Footer.astro";
import Header from "../../components/Header.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../../consts";

const mdPosts = await Astro.glob("../../content/blog/*.md");
const mdxPosts = await Astro.glob("../../content/blog/*.mdx");

const allPosts = [...mdPosts, ...mdxPosts];

const tags = [...new Set(allPosts.map((post) => post.frontmatter.tags).flat())];

const uniqueTags = [
	...new Set(allPosts.map((post) => post.frontmatter.tags).flat()),
];

const objLength = (object: any) => {
	let length = 0;
	for (let key in object) {
		if (object.hasOwnProperty(key)) {
			++length;
		}
	}
	return length;
};

const getTagCount = () => {
	const result: { [key: string]: number } = {};
	uniqueTags.forEach((tag) => {
		const filteredPosts = allPosts.filter((post) =>
			post.frontmatter.tags.includes(tag)
		);
		result[tag] = objLength(filteredPosts);
	});
	return result;
};

const tagCount = getTagCount();
---

<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main class="p-4 mt-8 min-h-screen max-w-screen-2xl">
			<h2 class="m-0 p-0 my-2 dark:m-0 dark:p-0 text-2xl">All Tags</h2>
			<section class="flex flex-wrap border-t pt-[16px] items-start gap-4">
				{
					// Map through the tags and render a link for each tag with its count
					tags.map((tag) => (
						<p class="my-2 text-xl">
							<a class="rounded-md group" href={`/tags/${tag}`}>
								<span class="px-4 py-2 text-black rounded-tl-full rounded-bl-full dark:bg-zinc-700 dark:group-hover:bg-zinc-800 dark:text-white bg-zinc-300 group-hover:bg-zinc-400 bg-inherit">
									{tag}
								</span>
								<span class="px-4 py-2 text-white rounded-tr-full rounded-br-full bg-rose-600 dark:bg-[#05ce91] dark:group-hover:bg-[#21af85] group-hover:bg-rose-700">
									{tagCount[tag]}
								</span>
							</a>
						</p>
					))
				}
			</section>
		</main>
		<Footer />
	</body>
</html>
