---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import FormattedDate from "../components/FormattedDate.astro";
import Header from "../components/Header.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate, updatedDate, heroImage, tags } =
	Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
		<style>
			main {
				max-width: 100%;
				margin: 0;
			}
			.hero-image {
				width: 100%;
			}
			.hero-image img {
				display: block;
				margin: 0 auto;
				border-radius: 12px;
			}
			.prose {
				width: 1080px;
				max-width: calc(100% - 2em);
				margin: auto;
				padding: 1em;
				color: rgb(var(--gray-dark));
			}
			.title {
				margin-bottom: 1em;
				padding: 1em 0;
				text-align: center;
				line-height: 1;
			}
			.title h1 {
				margin: 0 0 0 0;
			}
			.title ul {
				display: flex;
				justify-content: center;
				align-items: center;
				flex-wrap: wrap;
				gap: 1em;
				margin: 0.5em 0 1em 0;
			}
			.title li {
				padding: 0.25em 0.5em;
				border-radius: 15px;
			}
			.date {
				margin-bottom: 0.5em;
				color: rgb(var(--gray));
			}
			.last-updated-on {
				font-style: italic;
			}
			p {
				margin: 0;
			}
			a {
				text-decoration: none;
			}
		</style>
	</head>

	<body>
		<Header />
		<main>
			<article>
				<div class="hero-image">
					{
						heroImage && (
							<img
								width={400}
								height={260}
								src={heroImage}
								alt="blogImage"
								loading="lazy"
								decoding="async"
								class="object-cover w-full h-full mx-auto shadow-xl md:w-3/5 lg:w-1/2"
							/>
						)
					}
				</div>
				<div class="prose">
					<div class="title">
						<div class="date">
							<FormattedDate date={pubDate} />
							{
								updatedDate && (
									<div class="last-updated-on">
										Last updated on <FormattedDate date={updatedDate} />
									</div>
								)
							}
						</div>
						<h1 class="text-3xl sm:text-5xl md:text-inherit">{title}</h1>
						<ul class="p-0 list-none">
							{
								tags?.map((tag) => (
									<li class="text-sm sm:text-lg bg-rose-600 hover:bg-rose-800">
										<a class="text-white" href={`/tags/${tag}`}>
											{tag}
										</a>
									</li>
								))
							}
						</ul>
						<hr class="m-0 sm:my-12" />
					</div>
					<slot />
				</div>
			</article>
		</main>
		<Footer />
	</body>
</html>
